.col-4 {
    padding: 0px;
    outline: 2px solid black;
}

label {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

img: {
    height: 100%;
    width: 100%;
    outline: 2px solid #f00;
}

#id_turn {
    display: none;
}

#id_board {
    display: none;
}

#id_result {
    display: none;
}