[type=radio] {
  position: absolute;
  opacity: 5;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
  cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}

label: {
    height: 100%;
    width: 100%;
}

img: {
    height: 100%;
    width: 100%;
    outline: 2px solid #f00;
}